<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greenshare.farmer.mapper.FarmerMapper">
    <!-- 쿼리 작성 -->

    <resultMap id="board" type="FarmerDTO">
        <id     column="BOARD_NUM"          property="boardNum"/>
        <result column="TITLE"              property="title"/>
        <result column="USER_EMAIL"             property="userEmail"/>
        <result column="VIEWS"              property="views"/>
        <result column="CONTENT"            property="content"/>
        <result column="DATE"               property="date"/>
        <result column="SELECT_WORD"        property="selectWord"/>
        <result column="SELECT_LOG"         property="searchLog"/>
        <result column="LATEST"         property="latest"/>
        <association property="replyFarmersDTO" javaType="replyFarmersDTO">
            <id column="REPLY_NUM" property="replyNum"/>
            <result column="CONTENT" property="content"/>
            <result column="USER_EMAIL" property="userEmail"/>
            <result column="DATE" property="date"/>
            <result column="BOARD_NUM" property="boardNum"/>
        </association>
    </resultMap>
    <!-- 공지사항 조회-->
    <select id="farmerList" resultMap="board">
        SELECT
        BOARD_NUM,
        TITLE,
        USER_EMAIL,
        VIEWS,
        CONTENT,
        DATE
        FROM BOARD_FARMERS
        <if test='searchLog != null and !searchLog.equals("")'>
            WHERE ${selectWord} LIKE CONCAT ('%',#{searchLog}, '%')
        </if>
        ORDER BY BOARD_NUM DESC
    </select>

    <!--상세조회-->
    <select id="selectFarmer" resultMap="board">
        SELECT
        Board_NUM,
        TITLE,
        USER_EMAIL,
        CONTENT,
        VIEWS,
        DATE
        FROM BOARD_FARMERS
        WHERE Board_NUM = #{boardNum}
    </select>

    <!--등록-->
    <insert id="insertFarmers">
        INSERT INTO BOARD_FARMERS(
        TITLE,
        USER_EMAIL,
        CONTENT
        )
        VALUES(
        #{title},
        #{userEmail},
        #{content}
    )
    </insert>
    <!--수정-->
    <update id="updateFarmers">
        UPDATE BOARD_FARMERS
        SET
        TITLE = #{title},
        CONTENT = #{content}
        WHERE BOARD_NUM = #{boardNum}
    </update>

    <!--삭제-->
    <delete id="deleteFarmers">
        DELETE FROM BOARD_FARMERS
        WHERE BOARD_NUM = #{boardNum}
    </delete>

    <!--조회수 증가-->
    <update id="updateViews">
        UPDATE BOARD_FARMERS
        SET
        VIEWS = VIEWS + 1
        WHERE BOARD_NUM = #{board_num}
    </update>

    <!--공지사항 목록 최대가 5개만 조회-->
    <select id="mainFarmers" resultMap="board">
        SELECT
        BOARD_NUM,
        TITLE,
        USER_EMAIL,
        VIEWS,
        CONTENT,
        DATE
        FROM BOARD_FARMERS
        ORDER BY DATE
        LIMIT 5
    </select>


</mapper>