<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.greenshare.note.mapper.MessageMapper">

    <insert id="insertNote">
        INSERT INTO NOTE (SENDER_EMAIL, RECEIVER_EMAIL, CONTENT)
        VALUES (#{senderEmail}, #{receiverEmail}, #{content});
    </insert>

    <select id="selectReceivedNotes" resultType="MessageDTO">
        SELECT * FROM NOTE
        WHERE RECEIVER_EMAIL = #{receiverEmail}
        ORDER BY SENT_AT DESC
    </select>

    <delete id="deleteNote">
        DELETE FROM NOTE
        WHERE ID = #{id}
    </delete>
	
</mapper>































