<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greenshare.plant.PlantMapper">

    <!--기준작물 resultMap(조인할때 사용가능)-->
    <resultMap id="crops" type="PlantDTO">
        <id column="ID" property="id" />
        <result column="CROP" property="crop"/>
        <result column="TEMP_MIN" property="tempMin" />
        <result column="TEMP_MAX" property="tempMax" />
        <result column="HUMID_MIN" property="humidMin" />
        <result column="HUMID_MAX" property="humidMax" />
        <result column="SOIL_MIN" property="soilMin" />
        <result column="SOIL_MAX" property="soilMax" />
        <result column="LUX_MIN" property="luxMin" />
        <result column="LUX_MAX" property="luxMax" />
        <result column="ADC_MIN" property="adcMin" />
        <result column="ADC_MAX" property="adcMax" />
        <result column="IMG_NAME" property="imgName"/>
    </resultMap>

    <!--기준작물 조회-->
    <select id="getCropStandards" resultMap="crops">
        SELECT * FROM CROP_STANDARDS
    </select>


    


    <select id="getSelectCropList" resultType="PlantDTO">
        SELECT * FROM CROP_STANDARDS
        WHERE ID = #{id}
    </select>


</mapper>