<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.greenshare.plantStory.mapper.PlantStoryMapper">

    <resultMap id="plantStory" type="PlantStoryDTO">
        <id column="BOARD_NUM" property="boardNum" />
        <result column="TITLE" property="title" />
        <result column="CONTENT" property="content" />
        <result column="READ_CNT" property="readCnt" />
        <result column="REG_DATE" property="regDate" />
        <result column="USER_EMAIL" property="userEmail" />
        <result column="IS_LIKE" property="isLike" />
        <result column="IS_FOLLOW" property="isFollow" />
        <result column="LIKE_CNT" property="likeCnt" />
        <result column="USER_NAME" property="userName" />
    </resultMap>


    <insert id="insertPlantStory">
        INSERT INTO PLANT_STORY (TITLE, CONTENT, USER_EMAIL)
        VALUES (#{title}, #{content}, #{userEmail});
    </insert>


    <!-- 식물 이야기 게시글 최신순으로 조회 -->
    <select id="getPlantStory" resultMap="plantStory">
        SELECT
        BOARD_NUM,
        USER_EMAIL,
        (
        SELECT USER_NAME
        FROM user
        WHERE USER_EMAIL = PS.USER_EMAIL
        ) AS USER_NAME,
        TITLE,
        CONTENT,
        READ_CNT,

        IFNULL((
        SELECT 'Y'
        FROM LIKE_PLANT
        WHERE USER_EMAIL = IFNULL(#{userEmail}, '')
        AND BOARD_NUM = PS.BOARD_NUM
        ), 'N') AS IS_LIKE,

        (
        SELECT COUNT(LIKE_NUM)
        FROM LIKE_PLANT
        WHERE BOARD_NUM = PS.BOARD_NUM
        ) AS LIKE_CNT,

        (
        SELECT COUNT(COMMENT_ID)
        FROM PLANT_REPLY
        WHERE BOARD_NUM = PS.BOARD_NUM
        ) AS REPLY_CNT,

        IFNULL((
        SELECT 'Y'
        FROM follow
        WHERE FROM_USER_EMAIL = #{userEmail}
        AND TO_USER_EMAIL = PS.USER_EMAIL
        ), 'N') AS IS_FOLLOW

        FROM plant_story PS
        ORDER BY REG_DATE DESC;
    </select>


    <!--식물 이야기 상세 조회-->
    <select id="detailPlantStory" resultMap="plantStory">
        SELECT USER_EMAIL, TITLE, REG_DATE, READ_CNT, CONTENT
        FROM PLANT_STORY
        WHERE BOARD_NUM = #{boardNum}
    </select>

    <update id="updateCnt">
        UPDATE PLANT_STORY
        SET READ_CNT = READ_CNT + 1
        WHERE BOARD_NUM = #{boardNum};
    </update>

    <delete id="deletePlantStory">
        DELETE FROM PLANT_STORY
        WHERE BOARD_NUM = #{boardNum}
    </delete>

    <update id="updatePlantStory">
        UPDATE PLANT_STORY
        SET TITLE = #{title}, CONTENT = #{content}
        WHERE BOARD_NUM = #{boardNum}
    </update>

    <!--좋아요 선택-->
    <insert id="insertLike">
        INSERT INTO LIKE_PLANT (
            BOARD_NUM
            , USER_EMAIL
        ) VALUES (
            #{boardNum}
            ,#{userEmail}
        )
    </insert>

    <!--좋아요 해제-->
    <delete id="deleteLike">
        DELETE FROM LIKE_PLANT
        WHERE BOARD_NUM = #{boardNum}
        AND USER_EMAIL = #{userEmail}
    </delete>

    <!-- ✅ 작성자 이메일 조회 -->
    <select id="getWriterEmail" resultType="String">
        SELECT USER_EMAIL FROM PLANT_STORY
        WHERE BOARD_NUM = #{boardNum}
    </select>

    <!--앱에서 내가 쓴글만 조회하기-->
    <select id="selectMyPost" resultMap="plantStory">
        SELECT * FROM PLANT_STORY
        WHERE USER_EMAIL = #{userEmail}
    </select>

    <select id="selectBoard" resultMap="plantStory">
        SELECT BOARD_NUM, USER_EMAIL, TITLE,REG_DATE,
        IS_LIKE,LIKE_CNT,REPLY_CNT,IS_FOLLOW
        FROM PLANT_STORY
    </select>

    <!--인기게시글 조회하기-->
    <select id="getPopularPosts" resultMap="plantStory">
        SELECT
        PS.BOARD_NUM,
        PS.TITLE,
        PS.CONTENT,
        PS.READ_CNT,
        PS.REG_DATE,
        PS.USER_EMAIL,
        COUNT(LP.LIKE_NUM) AS LIKE_CNT
        FROM PLANT_STORY PS
        INNER JOIN LIKE_PLANT LP ON PS.BOARD_NUM = LP.BOARD_NUM
        GROUP BY PS.BOARD_NUM
        ORDER BY LIKE_CNT DESC
        LIMIT 10
    </select>

</mapper>
































