<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.greenshare.qna.mapper.QnaMapper">

    <resultMap id="qna" type="QnaDTO">
        <id     column="QNA_NUM"          property="qnaNum"/>
        <result column="TITLE"              property="title"/>
        <result column="USER_EMAIL"             property="userEmail"/>
        <result column="CONTENT"            property="content"/>
        <result column="DATE"               property="date"/>
        <result column="SELECT_WORD"        property="selectWord"/>
        <result column="SELECT_LOG"         property="searchLog"/>
        <result column="VIEWS"         property="views"/>
        <result column="QNA_TEST"         property="qnaTest"/>

        <association property="replyQnaDTO" javaType="ReplyQnaDTO">
            <id column="REPLY_NUM" property="replyNum"/>
            <result column="CONTENT" property="content"/>
            <result column="USER_EMAIL" property="userEmail"/>
            <result column="DATE" property="date"/>
            <result column="QNA_NUM" property="qnaNum"/>
        </association>
    </resultMap>


    <!--QNA 목록 조회-->
    <select id="qnaList" resultMap="qna">
        SELECT * FROM QNA_BOARD
        <if test='searchLog != null and !searchLog.equals("")'>
            WHERE ${selectWord} LIKE CONCAT ('%',#{searchLog}, '%')
        </if>
        ORDER BY QNA_NUM DESC
    </select>

    <!--QNA 목록 최대가 5개만 조회-->
    <select id="mainQna" resultMap="qna">
        SELECT * FROM QNA_BOARD
        ORDER BY DATE
        LIMIT 5;
    </select>

    <!--QNA 상세보기-->
    <select id="selectQna" resultType="QnaDTO">
        SELECT * FROM QNA_BOARD
        WHERE QNA_NUM = #{qnaNum}
    </select>


    <!--QNA 등록-->
    <insert id="insertQna">
        INSERT INTO QNA_BOARD(
        TITLE,
        USER_EMAIL,
        CONTENT
        )
        VALUES(
        #{title},
        #{userEmail},
        #{content}
        )
    </insert>

    <!--QNA 수정-->
    <update id="updateQna">
        UPDATE QNA_BOARD
        SET
        CONTENT = #{content},
        TITLE = #{title}
        WHERE QNA_NUM = #{qnaNum}
    </update>


    <!--QNA 질문 삭제-->
    <delete id="deleteQna">
        DELETE FROM QNA_BOARD
        WHERE QNA_NUM = #{qnaNum}
    </delete>

    <!--조회수 증가-->
    <update id="updateViews">
        UPDATE QNA_BOARD
        SET
        VIEWS = VIEWS + 1
        WHERE QNA_NUM = #{qnaNum}
    </update>


</mapper>

